@import "resetDefaults.scss";

html, body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

#root {
    width: 100%;
    height: 100%;
    background-color: #fff;
    // padding: 20px;
}

.program {
    min-width: 320px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    padding: 16px;
}

.keyword {
    font-weight: 500;
    color: #334;
}

.def {
    margin-bottom: 10px;
}

.actionable:hover {
    background-color: rgb(194, 222, 226);
}

.current {
    background-color: rgb(195, 216, 167);
}

.error {
    background-color: rgb(216, 181, 167);
}

.unfinished-call {
    border: 1px solid rgb(167, 216, 201);
}

.indented {
    border-left: solid 1px;
    padding-left: 1em;
}

.curconstruct {
    background-color: #ddd;
}

.field {
    min-width: 320px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.field-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.field-container {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

.field-row {
    flex-grow: 0;
    height: 24px;
    display: flex;
    flex-direction: row;
}

.field-hwall {
    height: 5px;
    flex-grow: 0;
    background-color: #ddd;
    display: flex;
    flex-direction: row;
}

.field-hwall-cell {
    flex-grow: 1;
    width: 24px;
    height: 5px;
}

.field-hwall-knot {
    flex-grow: 0;
    width: 5px;
    height: 5px;
}


.field-cell {
    flex-grow: 1;
    width: 24px;
    height: 24px;
}

.field-cell-painted {
    background-color: beige;
}

.field-vwall {
    width: 5px;
    flex-grow: 0;
    background-color: #ddd;
}

.wall-present {
    background-color: #334;
}

.f-active {
    cursor: pointer;
}